# Environment Variables Management
python-dotenv

# Web App Frameworks
streamlit
Flask
Flask[async]
flask_cors

# LangChain and AI Integration
langgraph
langchain
langchain-openai
langchain-core
langchain-community
google-generativeai

# Database
neo4j
faiss-cpu

# Security & Authentication
bcrypt
pbkdf2
pyjwt

# Image Processing
Pillow

# Notebook Support
notebook

# Utilities
requests
numpy
